<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check-mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{19,2},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>do-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{152,82}</string>
                <key>spriteSourceSize</key>
                <string>{176,160}</string>
                <key>textureRect</key>
                <string>{{299,2},{152,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{2,2},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray-scaled-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{39,2},{104,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-discord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{303,86},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-tele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{138,139}</string>
                <key>spriteSourceSize</key>
                <string>{160,155}</string>
                <key>textureRect</key>
                <string>{{120,202},{138,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{260,202},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-youtube.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{2,202},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task-item-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{299,88}</string>
                <key>spriteSourceSize</key>
                <string>{333,120}</string>
                <key>textureRect</key>
                <string>{{2,86},{299,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>verify-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{176,160}</string>
                <key>textureRect</key>
                <string>{{145,2},{152,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{453,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76960a745578c7e4eb6f61b3af91c2fb:78daaa5058b15cc2efcca036d6690747:0fe40ccc5647575d2f7ff520a7cb8a4b$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
